<footer class="bg-dark p-5 text-white text-center mx-auto">
    <ul >
        <li class="d-md-none"></li>
        <li class="d-md-none"></li>
 
        <li>
            <p class="">
                ©Copyright
            </p>
        </li>
        <li>
            <a href="" style="--clr: #25d366"><i class="fa-brands fa-whatsapp"></i></a>
        </li>
        <li>
            <a href="" style="--clr: #1da1f2"><i class="fa-brands fa-twitter"></i></a>
        </li>
        <li>
            <a href="" style="--clr: #A970FF"><i class="fa-brands fa-twitch "></i></a>
        </li>
        <li>
            <a href="" style="--clr: #c32aa3"><i class="fa-brands fa-instagram "></i></a>
        </li>
        <li>
            <a href="" style="--clr: #1877f2"><i class="fa-brands fa-facebook-f"></i></a>
        </li>
        <li>
            <a href="" style="--clr: #ff0000"><i class="fa-brands fa-youtube "></i></a>
        </li>
    </ul>


</footer>