<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand me-2" [routerLink]="'/'">
      <img class="img-thumbnail img-fluid w-25" src="../../assets/logo-removebg-preview.png"/>
    </a>
  </div>
  <div class="col d-flex justify-content-end">
    <button [routerLink]="'/cadastro'" class="btn btn-success" type="button">Cadastro</button>
    <button [routerLink]="'/login'" class="btn btn-outline-success mx-2" type="button">Login</button>
  </div>
</nav>